
<div class = 'container'>
	<h1>Get the Latest News!</h1>
	<div class = 'row'>
		<div class = 'col-md-4'>
			<!-- <div id="comments">
				<p>Comment:</p>
				<textarea class="form-control" rows="3" id="comment"></textarea>
				<br>
				<button class = 'btn btn-primary' id='addComment'>Submit</button>
			</div> -->

			<form class="commentForm">
                <div class="form-group">
                    <label for="seats">Comment on the Article!</label>
                    <textarea class="form-control" rows="3" id="commentBox"></textarea>
                </div>

                <button type="button" class="btn btn-primary" id="addComment">Submit</button>
            </form>
		</div>
	
		<div class = 'col-md-4'>
			
  			{{#each result}}
  				<h4>{{title}}</h4>
  				<p>{{content}}</p>
  			{{/each}}
  			
  		</div>

  		<div class = 'col-md-4'>
  			<div id="comments"></div>
  			{{#each comments}}
                <p class="comments" data-title="{{title}}">
                    <button class="delete" data-comment="{{comment}}" data-title="{{title}}">
                        <span class="glyphicon glyphicon-remove-sign"></span>
                    </button>
                    {{comment}}      
                </p>
            {{/each}}
  		</div>
	</div>
</div>

</div>



